<section class="visitorsRoom" ng-controller="VisitorsController" id="visitorsroom">
    <div class="container">
        <a href="/visitors/room/single">
            <div class="row background">
                <div class="col-sm-4 imgcontain">
                    <img src="visitors/img/single/1.jpg" alt="單人房">
                </div>
                <div class="col-sm-8">
                    <h1>單人房</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="container">
        <a href="/visitors/room/double">
            <div class="row background">
                <div class="col-sm-4 imgcontain">
                        <img src="visitors/img/double/1.jpg" alt="雙人房">
                </div>
                <div class="col-sm-8">
                    <h1>雙人房</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="container">
        <a href="/visitors/room/four">
            <div class="row background">
                <div class="col-sm-4 imgcontain">
                    <img src="visitors/img/four/1.jpg" alt="四人房">
                </div>
                <div class="col-sm-8">
                    <h1>四人房</h1>
                </div>
            </div>
        </a>
    </div>
</section>