<section ng-controller="VisitorsController" id="visitorsroomDouble">
    <div class="roomtitle">
        <h1>雙人房</h1>
        <div class="roomnav">
            <a href="/visitors/room/single">單人房</a> 
            <a href="/visitors/room/four">四人房</a>
        </div>  
    </div> 
    
    <div id="roomintro">
        <p>愜意的美好，來自於生活的品味，溫暖的河岸雙人房，專屬於您熱戀的甜蜜假期</p>
        <a onclick="showphoto()" id="showphoto">看照片</a>
    </div>



    <!-- 相簿 -->
    <div class="container" id="albumcontain">
        <ul id="album">
            <li>
                <a class="fancybox" href="visitors/img/double/1.jpg" title="bed">
                <img src="visitors/img/double/1.jpg" alt="bed" />
                </a>
                <p>bed</p>
            </li>
            
            <li>
                <a class="fancybox" href="visitors/img/double/2.jpg" title="bed">
                <img src="visitors/img/double/2.jpg" alt="bed" />
                </a>
                <p>bed</p>
            </li>
            <li>
                <a class="fancybox" href="visitors/img/double/3.jpg" title="sofa">
                <img src="visitors/img/double/3.jpg" alt="sofa" />
                </a>
                <p>sofa</p>
            </li>
            <li>
                <a class="fancybox" href="visitors/img/double/4.jpg" title="view">
                <img src="visitors/img/double/4.jpg" alt="view" />
                </a>
                <p>view</p>
            </li>
            <li>
                <a class="fancybox" href="visitors/img/double/5.jpg" title="pillow">
                <img src="visitors/img/double/5.jpg" alt="pillow" />
                </a>
                <p>pillow</p>
            </li>
            <li>
                <a class="fancybox" href="visitors/img/double/6.jpg" title="view">
                <img src="visitors/img/double/6.jpg" alt="view" />
                </a>
                <p>view</p>
            </li>
        </ul>
    </div>  
    
    
    <script src='visitors/js/visitorsRoomDouble.js' type="text/javascript"></script>
</section>