<!-- The users view -->
<section ng-controller="UsersController">
	<!-- If the user is not authenticated show the authentication link -->
	<div data-ng-show="!authentication.user">
		<a href="/signin">Signin</a>
	</div>
	<!-- Otherwise, show the user details and application links -->
	<div data-ng-show="authentication.user">
		<h1>Hello <span data-ng-bind="authentication.user.fullName"></span></h1>
		<ul>
			<li><a href="/_admin">index</a></li>
			<li><a href="/_admin/articles">List Articles</a></li>
			<li><a href="/_admin/articles/create">Create Article</a></li>
		</ul>
	</div>
</section>