<section id="visitorsReser" ng-controller="VisitorsController" data-ng-init="findtypereser('雙人房')">
	<h1>線上訂房</h1>
	<div class="container" id="visitorsReserForm">
		<form class="panel panel-default" data-ng-submit="placeReser()">
			<div class="form-group">
				<label for="type">房型</label>
				<div>
					<input  data-ng-show="false" type="text" name="type" data-ng-model="type" value="雙人房" id="roomtype"> 
					<a id="single" href="/visitors/reser/single">單人房</a>
					<a class='choosentype'>雙人房</a>
					<a id="four" href="/visitors/reser/four">四人房</a>
				</div>
			</div>
			<div class="form-group">
				<label for="name">訂房人姓名</label>
				<div>
					<input type="text" class="form-control" data-ng-model="name" 
					placeholder = "請輸入訂房者姓名" required />
				</div>
			</div>
			<div class="form-group">
				<label for="phone">電話號碼(ex: 0912-345-678)</label>
				<div>
					<input type="tel" class="form-control" data-ng-model="phone1" 
					placeholder = "0912" maxlength="4" required /> <span style="font-size:2rem">-</span>
					<input type="tel" class="form-control" data-ng-model="phone2"
					placeholder = "345" maxlength="3" required /><span style="font-size:2rem">-</span>
					<input type="tel" class="form-control" data-ng-model="phone3" 
					placeholder = "678" maxlength="3" required />
				</div>
			</div>
			<div class="form-group">
				<label for="date">預定日期(當日晚上)</label>
				<input id="arriveDate" name="arriveDate" type="text" class="form-control" data-ng-model="date"  required>
			</div>
			<div class="form-group">
				<label for="date">退房日期</label>
				<input id="endDate" name="endDate" type="text" class="form-control" data-ng-model="enddate"  required>
			</div>
			<button class="btn btn-default" type="submit" onclick="trig()">確認訂房</button>
			<!-- The error message element -->
			<div data-ng-show="error">
				<strong data-ng-bind="error"></strong>
			</div>
		</form>
	</div>


	<!-- 為了js操作方便 -->
	<div data-ng-show="false">
		<ul>
			<li data-ng-repeat="reser in typeReser" class="disDate">
				<input  value="{{reser.date | date:'yyyy-MM-dd'}}"></input>
				<input  value="{{reser.enddate | date:'yyyy-MM-dd'}}"></input>
			</li>
		</ul>
		<textarea cols="73" id="disableDate" name="disableDate" rows="5">
		</textarea>
				<input id="reSetDisableDate" name="reSetDisableDate" type="button" value="重新設定不可選日期">
	</div>

	
	<script src='visitors/js/visitorsReser.js' type="text/javascript"></script>
</section>







	
	

