<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<base href="/">
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="core/core.css">
	<link rel="stylesheet" href="visitors/css/visitors.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="/visitors">yuxian-demo</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="/visitors">首頁 </a></li>
					<li><a href="/visitors/articles">最新公告 </a></li>
					<li><a href="/visitors/intro">民宿介紹 </a></li>
					<li><a href="/visitors/room">房型介紹 </a></li>
					<li><a href="/visitors/reser">線上訂房 </a></li>
					<li><a href="/visitors/nearby">附近景點 </a></li>
					<li><a href="/visitors/loc">地理位置 </a></li>
					<li><a href="/visitors/infor">聯絡資訊 </a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Render AngularJS views  -->
	<section ng-view></section>
	<!-- Load local libraries -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
	
	<!-- Load the articles module -->
	<script type="text/javascript" src="/articles/articles.client.module.js"></script>
	<script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
	<script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
	<script type="text/javascript" src="/articles/config/articles.client.routes.js"></script>

	<!-- Load the visitors module -->
	<script type="text/javascript" src="/visitors/visitors.client.module.js"></script>
	<script type="text/javascript" src="/visitors/controllers/visitors.client.controller.js"></script>
	<script type="text/javascript" src="/visitors/config/visitors.client.routes.js"></script>
	<script type="text/javascript" src="/visitors/services/visitors.client.service.js"></script>

	<!-- Load the users module -->
	<script type="text/javascript" src="/users/users.client.module.js"></script>
	<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
	<script type="text/javascript" src="/users/controllers/users.client.controller.js"></script>
	<script type="text/javascript" src="/users/config/users.client.routes.js"></script>

	<!-- Bootstrap AngularJS application -->
	<script type="text/javascript" src="/application.js"></script>
</body>
</html>