/* roomtitle */
#visitorsroomFour h1{
    width: 50vw;
    margin: 0 0 0 25vw;
    float: left;
    text-align: center;
    padding-bottom: 15px;
    font-family: serif,sans-serif,cursive,fantasy,monospace;
}
#visitorsroomFour .roomtitle{
    width: 95vw;
    height: 55px;
}
#visitorsroomFour .roomnav{
    float: right;
    height: 55px;
    width: 10vw;
}
#visitorsroomFour .roomnav a{
    color: gray;
    float: right;
    height: 20px;
    width: 50px;
}
/* 內容 */
#visitorsroomFour #roomintro{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5vh;
    text-align: center;
}
#visitorsroomFour #roomintro, #roomintro li{
    list-style: none;
}
#visitorsroomFour #roomintro a:hover{
    cursor: pointer;
}

/* 照片們 */
#visitorsroomFour #albumcontain{
    display: none;
}
#visitorsroomFour a{
    max-height: 25vh;
    height: 90%;
    width: 20vw;
}
#visitorsroomFour img{
    height: 22vh;
    max-height: 24vh;
    width: 20vw;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
    border-radius: 10px;
}
#visitorsroomFour #album{
	list-style: none;
	margin: 0;
    padding: 0;
    height: 25vh;
}
#visitorsroomFour #album {
    height: 90%;
    margin: auto;
}
#visitorsroomFour #album ul{
    height: 100%;
    position: relative;
}
#visitorsroomFour #album li {
    float: left;
    margin: 1vh 1vh 2vh 1vh;
    list-style: none;
    padding: 0;
    height: 25vh;
}

#visitorsroomFour #album li p{
    text-align: center;
    font-size: 14px;
}

#visitorsroomFour #album li p:hover{
    cursor: pointer;
}

#visitorsroomFour #album li a img {
	border: none;
}

@media screen and (max-width: 770px){
    /* 照片調適 */
    #visitorsroomFour a{
        max-height: 13vh;
        height: 90%;
    }
    #visitorsroomFour img{
        height: 10vh;
        max-height: 12vh;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    #visitorsroomFour #album li {
        height: 16vh;
    }
}